**/sourcefiles/.vs/GXPEngine/v14/.suo
**/sourcefiles/GXPEngine/bin/Debug/**

Arcade Game Beta/sourcefiles/GXPEngine/bin/Debug/GXPEngine.vshost.exe.manifest
Arcade Game Beta/sourcefiles/GXPEngine/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
